<div class="container mx-auto mt-24 bg-blue-200">
<div class="flex flex-start space-x-8 pt-4 px-4">
<a class="hover:text-red-400 transition-all duration-300 ">Trending</a>
<a class="hover:text-red-400 transition-all duration-300 ">Articles</a>
<a class="hover:text-red-400 transition-all duration-300 ">Books</a>
<a class="hover:text-red-400 transition-all duration-300 ">Scraps</a>

</div>
<h1 class="font-bold text-4xl pl-20 py-8 ">Tech</h1>
<div class="grid grid-cols-2 ">

  <div class="mx-auto flex bg-blue-200 mb-8">

    <div class="w-20 h-20 bg-white rounded-lg">
      <%= image_tag 'banana',class:"object-cover rounded-md cursor-pointer w-16 h-16 mx-auto mt-2" %>
    </div>
    
    <div class="mt-2 pl-2">
      <p class="text-neutral-600">atomsで活用したいCSS隣接セレクタ</p>

      <div class="mt-3">  
        <div class="flex">
          <%= image_tag 'banana',class:"object-cover rounded-md cursor-pointer w-8 h-8 " %>
        <p class="mb-4 pl-2 text-neutral-600">Takepepe<br>1日前・3min read <i class="fa-solid fa-heart">33</i></p>
        </div>

      </div>
    </div>

  </div>
  <div class="mx-auto flex bg-blue-200 mb-8">

    <div class="w-20 h-20 bg-white rounded-lg">
      <%= image_tag 'banana',class:"object-cover rounded-md cursor-pointer w-16 h-16 mx-auto mt-2" %>
    </div>
    
    <div class="mt-2 pl-2">
      <p class="text-neutral-600">atomsで活用したいCSS隣接セレクタ</p>

      <div class="mt-3">  
        <div class="flex">
          <%= image_tag 'banana',class:"object-cover rounded-md cursor-pointer w-8 h-8 " %>
        <p class="mb-4 pl-2 text-neutral-600">Takepepe<br>1日前・3min read <i class="fa-solid fa-heart">33</i></p>
        </div>

      </div>
    </div>

  </div>
  <div class="mx-auto flex bg-blue-200 mb-8">

    <div class="w-20 h-20 bg-white rounded-lg">
      <%= image_tag 'banana',class:"object-cover rounded-md cursor-pointer w-16 h-16 mx-auto mt-2" %>
    </div>
    
    <div class="mt-2 pl-2">
      <p class="text-neutral-600">atomsで活用したいCSS隣接セレクタ</p>

      <div class="mt-3">  
        <div class="flex">
          <%= image_tag 'banana',class:"object-cover rounded-md cursor-pointer w-8 h-8 " %>
        <p class="mb-4 pl-2 text-neutral-600">Takepepe<br>1日前・3min read <i class="fa-solid fa-heart">33</i></p>
        </div>

      </div>
    </div>

  </div>
  <div class="mx-auto flex bg-blue-200 mb-8">

    <div class="w-20 h-20 bg-white rounded-lg">
      <%= image_tag 'banana',class:"object-cover rounded-md cursor-pointer w-16 h-16 mx-auto mt-2" %>
    </div>
    
    <div class="mt-2 pl-2">
      <p class="text-neutral-600">atomsで活用したいCSS隣接セレクタ</p>

      <div class="mt-3">  
        <div class="flex">
          <%= image_tag 'banana',class:"object-cover rounded-md cursor-pointer w-8 h-8 " %>
        <p class="mb-4 pl-2 text-neutral-600">Takepepe<br>1日前・3min read <i class="fa-solid fa-heart">33</i></p>
        </div>

      </div>
    </div>

  </div>


  

</div>
</div>



  <div class="grid grid-cols-1 gap-8 text-center md:grid-cols-2 mt-16">
    <div class="bg-yellow-300 col-span-1 py-4 w-96 mx-auto ">
      <h1>Hello</h1>
    </div>
    <div class="bg-blue-200 col-span-1 py-4  w-96 mx-auto">
      <h1>Good Night</h1>
    </div>
    <div class="bg-red-200 col-span-1 py-4  w-96 mx-auto">
      <h1>Good Night</h1>
    </div>
    <div class="bg-green-200 col-span-1 py-4  w-96 mx-auto">
      <h1>Good Night</h1>
    </div>
  </div>
